@model Visitor
@{
	Layout = "_NoBody";
}

<div class="row">
	<span class="myInfoText">
			This is preview of your name tag.<br />
			Please check the information below carefully and print it, when you are ready.
	</span><br />
</div>	

<div class="row">
	<div id="checkin" style="display: inline-block;">
		<button class="mybtn-clear" style="height: 160px;">
			<div id="m-id" style="display: none;">@Model.RegistrationNumber </div>
			<div style="font-size: 3.5em;">
				@Model.Name
			</div>
			<div style="font-size: 2.5em; font-weight: 300">
				@Model.Last
			</div>
		</button>
		<div class="row">
			<div class="col-xs-8 text-center">
				<button class="mybtn-clear" style="height: 95px; font-size: 1.5em; font-weight: 300">
					<div>
						@Model.Occupation
					</div>
					<div>	
						@Model.Company
					</div>
				</button>
			</div>
			<div class="col-xs-4 text-center">
				<!-- QR Code Container -->
					<div id="qr" class="table-responsive"></div>
			</div>	
		</div>
	</div>
</div>

<div class="row">
	<button type="button" class="btn mybtn bgRed" style="margin-top: 30px; width: 150px;" onclick="window.open('/Home/Index','_self')">Cancel CheckIn</button>
	
	<form asp-action="CheckInEditForm" asp-controller="Visitor" method="POST" role="form" class="cleanInline">
		<input style="display: none;" asp-for="RegistrationNumber" value="@Model.RegistrationNumber"/>
		<button type="submit" class="btn mybtn bgBro" style="margin-top: 30px; width: 150px;">Edit</button>
	</form>
	
	<form asp-action="CheckInOk" asp-controller="Visitor" method="POST" role="form" class="cleanInline">
		<input style="display: none;" asp-for="CheckIned" value="true"/>
		<input style="display: none;" asp-for="RegistrationNumber" value="@Model.RegistrationNumber"/>
		<button type="submit" class="btn mybtn bgBase" style="margin-top: 30px; width: 150px;">Print</button>
	</form>

</div>